body {
    display: flex;
    background: #F0D3C0;
    font-family: monospace;
    overflow-x: hidden;
}

#button-settings {
    position: absolute;
    top: 20px;
    left: 20px;
    text-decoration: underline;
}

#modal-settings {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

#modal-settings .modal-container {
    background-color: white;
    border-radius: 10px;
    padding: 16px 24px 24px;
    width: 380px;
}

#modal-settings .modal-title {
    font-size: 1.2em;
    font-weight: bold;
}

#modal-settings .modal-body {
    margin-top: 10px;
}

#modal-settings .modal-tabs {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 12px;
}

#modal-settings .modal-tabs * {
    opacity: .7;
    box-shadow: 0 1px 0 #eeeeee;
    transition: all .3s;
    padding: 4px 12px;
    font-size: 14px;
    width: 100%;
    text-align: center;
}

#modal-settings .modal-tabs .active,
#modal-settings .modal-tabs > *:hover {
    font-weight: bold;
    box-shadow: 0 2px 0 #de930b;
    opacity: 1;
    cursor: pointer;
    background-color: transparent;
}


#modal-settings .modal-content > * {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#modal-settings .modal-content > *:not(.active) {
    display: none;
}

#modal-settings .modal-content .input-field input,
#modal-settings .modal-content .input-field:before {
    transition: all .3s;
}

#modal-settings .modal-content .input-field input {
    width: 100%;
    border: 1px solid #e1e1e1;
    border-radius: 6px;
    padding: 8px 16px;
    font-size: 12px;
}

#modal-settings .modal-content .input-field:before {
    content: attr(data-label);
    position: relative;
    left: 6px;
    font-size: 11px;
    color: #474747;
    font-weight: bold;
    padding: 0 4px;
    background: white;
    top: 8px;
}

#modal-settings .modal-content .input-field.active:before {
    color: #de930b;
    top: 0px;
}

#modal-settings .modal-content .input-field.active input {
    border-color: #de930b;
}

#modal-settings .modal-actions {
    
}

#modal-settings #save-settings {
    width: 100%;
    margin: 16px 0 0;
    display: flex;
    justify-content: center;
    background: #ffb52e;
    padding: 8px 24px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    transition: all .3s;
}

#modal-settings #save-settings:hover {
    opacity: .7;
}

/* Start Field (import)*/

#introduction {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: white;
    text-align: center;
}

#introduction b {
    font-size: 1.2em;
}

#timer:before {
    content: attr(data-timer);
    display: flex;
    position: absolute;
    top: -36px;
    right: 20px;
    font-size: 20px;
}

#field {
    position: relative;
    display: flex;
    width: 800px;
    height: 400px;
    margin: auto;
    border-bottom: #804E29 5px solid;
    border-radius: 10px;
    padding: 10px 20px;
    background-image: url(../assets/images/pattern-field.png);
    background-repeat: repeat;
    filter: drop-shadow(0px 7px 30px rgba(108, 67, 36, 0.4));
}

/* End Field */
/* Start Killer (import) */

#killer[data-killing='true'] {
    background-color: red;
}

#killer {
    position: absolute;
    background-color: blue;
    border-radius: 50%;
    top: -50px;
    right: 50%;
    width: 40px;
    height: 40px;
}

/* End Killer */
/* Start Player (import) */

#players {
    position: relative;
}

.player[data-state='dead'], .bot[data-state='dead'] {
    background-color: red;
}

.player[data-state='winner'], .bot[data-state='winner'] {
    background-color: green;
}

.player[data-state='moving'], .bot[data-state='moving'] {
    background-image: url(../assets/GUI/player/player01-move.gif);
}

.player, .bot {
    position: absolute;
    width: 30px;
    height: 50px;
    border-radius: 50%;
    bottom: 0px;
    background-image: url(../assets/GUI/player/player01-stoped.png);
    background-size: 50px;
    background-position: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.player:before {
    content: "Player";
    display: flex;
    align-items: center;
    justify-content: center;
    top: 45px;
    position: relative;
    font-size: 12px;
    font-weight: bold;
}

/* End Player */











/* Mixins */
.hide {
    display: none !important;
}
